<h2>Recorder</h2>

<!-- <form name="form">
  <button class="button" ngf-select ng-model="$ctrl.file">Select</button>
  <button ng-click="$ctrl.submit()">submit</button>
</form> -->

<input type="file" file-read-dir id="file-input">
<audio id="preview" controls preload="auto" src=""></audio>

<button ng-click="$ctrl.startRecording()">Start Recording</button>
<button ng-click="$ctrl.stopRecording()">Stop Recording</button>
<button ng-click="$ctrl.uploadRecordingToS3()">Upload to Cloud</button>

<p>Recording data</p>
<div>{{ $ctrl.recordingData }}</div>

<p>S3 data</p>
<div>{{ $ctrl.s3Data }}</div>
