<div class="account-settings-view-wrapper">
    <h1>Account Settings</h1>
    <div class="row">
        <form
            class="col s8"
            ng-submit="$ctrl.updateCurrentUser( $ctrl.updatedUser )"
        >
            <div input-field>
                <input
                    ng-model="$ctrl.updatedUser.userName"
                    required
                    type="text"
                >
                <label>User Name</label>
            </div>
            <div input-field>
                <input
                    ng-model="$ctrl.updatedUser.fullName"
                    required
                    type="text"
                >
                <label>Full Name</label>
            </div>
            <div input-field>
                <input
                    ng-model="$ctrl.updatedUser.email"
                    required
                    type="text"
                >
                <label>Email</label>
            </div>
            <img ng-src="{{ $ctrl.updatedUser.photo }}" alt="">
            <div input-field>
                <input
                    ng-model="$ctrl.updatedUser.photo"
                    required
                    type="text"
                >
                <label>Avatar URL</label>
            </div>

            <div input-field>
                <select
                    class=""
                    material-select
                    multiple
                    ng-model="$ctrl.updatedUser.genre"
                    ng-options="genreName.displayName as genreName.displayName for genreName in $ctrl.genreNames"
                    required
                    watch
                >
                </select>
                <label>Genres</label>
            </div>

            <div
                input-field
            >
                <textarea
                    class="materialize-textarea"
                    ng-model="$ctrl.updatedUser.userLinks"
                    required
                    type="text"
                >
                </textarea>
                <label>Links</label>
            </div>

            <a
                class="waves-effect waves-light btn"
                ng-click="$ctrl.updateCurrentUser( $ctrl.updatedUser )"
            >
                Save
            </a>
            <a
                class="waves-effect waves-light btn"
                ui-sref="genres-view"
            >
                Cancel
            </a>
        </form>
    </div>
</div>
