<h1>Account Settings</h1>
<div class="row">
    <form class="col s6">
        <div input-field>
            <input
                ng-model="$ctrl.updatedUser.userName"
                type="text"
            >
            <label>User Name</label>
        </div>
        <div input-field>
            <input
                ng-model="$ctrl.updatedUser.fullName"
                type="text"
            >
            <label>Full Name</label>
        </div>
        <div input-field>
            <input
                ng-model="$ctrl.updatedUser.email"
                type="text"
            >
            <label>Email</label>
        </div>
        <img ng-src="{{ $ctrl.updatedUser.photo }}" alt="">
        <div input-field>
            <input
                ng-model="$ctrl.updatedUser.photo"
                type="text"
            >
            <label>Avatar URL</label>
        </div>

        <div input-field>
            <select class="" ng-model="$ctrl.updatedUser.genre" material-select multiple watch>
                <option value="Pop">Pop</option>
                <option value="Rock">Rock</option>
                <option value="Rap">Rap</option>
                <option value="Hip Hop">Hip Hop</option>
            </select>
            <label>Genres</label>
        </div>

        <div
            input-field
        >
            <textarea
                class="materialize-textarea"
                ng-model="$ctrl.updatedUser.userLinks"
                type="text"
            >
            </textarea>
            <label>Links</label>
        </div>

        <button ng-click="$ctrl.updateCurrentUser( $ctrl.updatedUser )">Save</button>
        <button ui-sref="genres-view">Cancel</button>
    </form>
</div>
