.account-settings-view-wrapper {
    height: 100vh;
    overflow: scroll;
    padding-top: 1.5em;
    padding-left: 1.5em;
    letter-spacing: 2px;

    h1 {
      margin-top: 0;
    }

    &-channels-wrapper {

        color: black;
        .remove-circle {
            color: #F44336;
        }
    }
}
