<div>
  <main class="channel-view">
    <section class="top-audio-player">
      <div id="play-button" ><i class="material-icons md-72">play_circle_outline</i></div>
        <div class="waves">
           <div id="waveform"></div>

      <!-- pause button
      <i class="material-icons md-72">pause_circle_outline</i> -->



      </div>


  </section>
  <section class="chat-window">
    <div class="message">
      <div class="row">
        <div class="user-image-container col s1">
          <img class="user-image" src="{{ user }}"/>
        </div>
        <div class="name-stamp col s9">
          <div class="user-name">
             Theo Beck
          </div>
          <div class="time-stamp">
            11/3/16 • 11:34 AM
          </div>
        </div>
        <div class="content col s11">
          <p> I know someone I'd like to put you in contact with.I know someone I'd like to put you in contact with.I know someone I'd like to put you in contact with.I know someone I'd like to put you in contact with.I know someone I'd like to put you in contact with.I know someone I'd like to put you in contact with.I know someone I'd like to put you in contact with.I know someone I'd like to put you in contact with.I know someone I'd like to put you in contact with.I know someone I'd like to put you in contact with.I know someone I'd like to put you in contact with.I know someone I'd like to put you in contact with.I know someone I'd like to put you in contact with.I know someone I'd like to put you in contact with. </p>
        </div>
      </div>
    </div>

    <div class="message">
      <div class="row">
        <div class="user-image-container col s1">
          <img class="user-image" src="{{ user }}"/>
        </div>
        <div class="name-stamp col s9">
          <div class="user-name">
             Theo Beck
          </div>
          <div class="time-stamp">
            11/3/16 • 11:34 AM
          </div>
        </div>
        <div class="content col s11">
          <p> I know someone I'd like to put you in contact with.I know someone I'd like to put you in contact with.I know someone I'd like to put you in contact with.I know someone I'd like to put you in contact with.I know someone I'd like to put you in contact with.I know someone I'd like to put you in contact with.I know someone I'd like to put you in contact with.I know someone I'd like to put you in contact with.I know someone I'd like to put you in contact with.I know someone I'd like to put you in contact with.I know someone I'd like to put you in contact with.I know someone I'd like to put you in contact with.I know someone I'd like to put you in contact with.I know someone I'd like to put you in contact with. </p>
        </div>
      </div>
    </div>

  </section>

  <div class="footer">
    <div class="message-input-field">
      <div id="mic-sec">
        <div id="mic-icon">
          <i class="material-icons md-32">mic_none</i>
        </div>
      </div>
      <form id="message-form">
        <textarea id="message-input" placeholder="Let's Talk Music!!!" spellcheck="true">

        </textarea>
      </form>
    </div>
  </div>
  </main>
</div>
