<div>
  <main class="channel-view">
  <section class="top-audio-player-container">
    <div class="top-audio-player">
      <div id="play-button"><i class="material-icons md-72">play_circle_outline</i></div>
        <div class="waves">
           <div id="waveform"></div>
        <!-- pause button
        <i class="material-icons md-72">pause_circle_outline</i> -->
        </div>
    </div>
  </section>
    <div class="channel-nav">
        <div class="channel-info">
          <div class="channel-name">{{ $ctrl.channel.name }}</div>
          <div class="channel-description"><em>{{ $ctrl.channel.description }}</em></div>
        </div>
        <div class="channe-buttons">
          <div id="side-nav-icon">
            <i class="material-icons md-24 button-collapse" data-activates="list-nav" data-sidenav="right" data-menuwidth="298" data-closeonclick="false">queue_music</i>
              <!-- Show side-nav -->
          </div>
        </div>
    </div>

         <!-- <div class="message">
      <div class="row">
        <div class="user-image-container col s1">
          <img class="user-image" src="{{ user }}"/>
        </div>
        <div class="name-stamp col s9">
          <div class="user-name">
             Theo Beck -->

    <section id="chat-window" scroll-glue="glued">
      <div
          class="message"
          ng-if="$ctrl.channel.channelMessages"
          ng-repeat="message in $ctrl.channel.channelMessages"
      >
        <div class="row">
          <div class="user-image-container col s1">
            <img class="user-image" src="{{ message.author.photo }}"/>
          </div>
          <div class="name-stamp col s6">
            <div class="user-name">
               {{ message.author.userName || message.author.fullName }}
            </div>
            <div class="time-stamp">
              {{ message.timestamp | date: 'short' }}
            </div>
          </div>
          <div class="content col s10"
               editable-textarea="message.content"
               e-rows="30" e-cols="40"
               e-formclass="content col s10"
               e-form="editButton"
               onaftersave='$ctrl.updateMessage( message, $ctrl.channel._id )'
          >

            {{ message.content }}

            <div class="tools">
              <i class="material-icons create" ng-click="editButton.$show()" ng-hide"editButton.$visible">create</i>
              <i class="material-icons delete">clear</i>
            </div>
          </div>
          </div>
      </div>


    </section>
<!--
  <section class="playlist-sect">
    <div class="playlist">
      <div class="playlist-title">
         Studio</br> Playlist
      </div>
      <div class="song">

      </div>
    </div>
  </section> -->

  <!-- <ul id="nav-mobile" class="side-nav">
    <li><div class="userView">
      <div class="background">
        <img src="{{ playlist }}"/>
      </div>
      <a href="#!user">
      <a href="#!name"><span class="white-text name">John Doe</span></a>
      <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
    </div></li>
    <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
    <li><a href="#!">Second Link</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
  </ul> -->


<!-- Side Nav  -->
  <div id="list-nav" class="side-nav">
    <div class="title-section">
      <div class="title"> Channel </br> Playlist </div>
      <img src="{{ playlist }}" id="pic" style="max-height: 204px; border-bottom: 5px solid cadetblue;"/>
      <div class="pic-container">

      </div>
    </div>
    <div class="playlist">
      <ul>
        <li><a class="waves-effect" href="#"> <i class="material-icons md-24">play_circle_filled</i>"Hello World" by Theo </a></li>
        <li><a class="waves-effect" href="#"> <i class="material-icons md-24">play_circle_filled</i> '11/8/16 | 9:51 a.m.' by Carlos</a></li>
        <li><a class="waves-effect" href="#"> <i class="material-icons md-24">play_circle_filled</i>"Paradise" by Andrew</a></li>
      </ul>
    </div>
  </div>
<!--
  <a href="#" class="button-collapse" data-activates="list-nav" data-sidenav="right" data-menuwidth="298" data-closeonclick="false">
    <i class="material-icons">queue_music</i>
      Show side-nav
  </a>  -->

  <div class="footer">
    <div class="message-input-field">
      <div id="mic-sec">
        <div id="mic-icon">
          <i class="material-icons md-32">mic_none</i>
        </div>
      </div>
      <form id="message-form" ng-keypress="$ctrl.sendAndSaveMessage( $event, $ctrl.message )">
        <textarea id="message-input" ng-model="$ctrl.message.content" placeholder="Let's Talk Music!" spellcheck="true"></textarea>
      </form>
    </div>
  </div>


  </main>
</div>
