<div ng-show="!$ctrl.channel">
    <h4>Channel not found</h4>
    <p>The channel may have been deleted by its creator.</p>
</div>
<div ng-show="$ctrl.channel">
  <main class="channel-view">
  <section
      class="top-audio-player-container"
      ng-style="{
        'background-image': 'url( {{ $ctrl.channel.photoUrl }} )'
        , 'background-position': '50% 50%'
        , 'background-size': 'cover'
      }"
  >
    <div class="top-audio-player">
      <div id="play-button"
           ng-show="!$ctrl.playing"
           ng-click="$ctrl.playSong()"
      >
           <i class="material-icons md-72">play_circle_outline</i>
     </div>
      <div id="pause-button"
           ng-show="$ctrl.playing"
           ng-click="$ctrl.pauseSong()"
      >
           <i class="material-icons md-72">pause_circle_outline</i>
      </div>
        <div class="waves">
           <div id="waveform"></div>
        <!-- pause button
        <i class="material-icons md-72">pause_circle_outline</i> -->
        </div>
    </div>
    <div class="recording-options">
      <div class="add-to-playlist-icon"><a class="btn-floating btn-large waves-effect waves-light" title="Add song to playlist" ng-click="$ctrl.uploadAndSaveRecording()"><i  class="material-icons ld-18">playlist_add</i> </a> </div>
      <div class="cancel-recording-icon"><a class="btn-floating btn-large waves-effect waves-light" title="Delete recording" ng-click="$ctrl.cancelRecording()"> <i  class="material-icons ld-18" >clear</i> </a></div>
    </div>
  </section>
    <div class="channel-nav">
        <div class="channel-info">
          <div class="channel-name">{{ $ctrl.channel.name }}</div>
          <div class="channel-description"><em>{{ $ctrl.channel.description }}</em></div>
        </div>
        <div class="channel-buttons">
          <div id="side-nav-icon">
            <a class="btn-floating btn-large waves-effect waves-light playlist"
               data-activates="list-nav"
               data-sidenav="right"
               data-menuwidth="298"
               data-closeonclick="false"
               href="#"
            >
            <i class="material-icons">queue_music</i>
            </a>
              <!-- Show side-nav -->
          </div>
          <div>
                <a
                    class="btn-floating btn-large waves-effect waves-light settings"
                    data-activates="channelSideNav"
                    data-closeonclick="false"
                    data-menuwidth="298"
                    data-sidenav="right"
                    href="#"
                >
                    <i class="material-icons">settings</i>
                </a>
          </div>
        </div>
    </div>

         <!-- <div class="message">
      <div class="row">
        <div class="user-image-container col s1">
          <img class="user-image" src="{{ user }}"/>
        </div>
        <div class="name-stamp col s9">
          <div class="user-name">
             Theo Beck -->

    <section id="chat-window" scroll-glue="$ctrl.glued">
      <div
          class="message"
          ng-if="$ctrl.channel.channelMessages"
          ng-repeat="message in $ctrl.channel.channelMessages"
      >
        <div class="row">
          <div class="user-image-container col s1" style="background-image: url( {{message.author.photo}} )">
            <!-- <img class="user-image" src="{{ message.author.photo }}"/> -->
          </div>
          <div class="name-stamp col">
            <div class="user-name">
               {{ message.author.userName || message.author.fullName }}
            </div>
            <div class="time-stamp">
              {{ message.timestamp | date: "MM/dd/yyyy '•' h:mma" }}
            </div>
            <div class="tools">
              <i class="material-icons create" title="Edit message" ng-click="editButton.$show()" ng-hide"editButton.$visible">create</i>
              <i class="material-icons delete" title="Delete message" ng-click="$ctrl.deleteMessage( message._id, $ctrl.channel._id)">clear</i>
            </div>
          </div>
          <div class="content col s10"
               editable-textarea="message.content"
               e-rows="30" e-cols="40"
               e-formclass="content col s10"
               e-form="editButton"
               onaftersave='$ctrl.updateMessage( message, $ctrl.channel._id )'
          >

            {{ message.content }}
          </div>
        </div>
      </div>
  </section>
<!--
  <section class="playlist-sect">
    <div class="playlist">
      <div class="playlist-title">
         Studio</br> Playlist
      </div>
      <div class="song">

      </div>
    </div>
  </section> -->

  <!-- <ul id="nav-mobile" class="side-nav">
    <li><div class="userView">
      <div class="background">
        <img src="{{ playlist }}"/>
      </div>
      <a href="#!user">
      <a href="#!name"><span class="white-text name">John Doe</span></a>
      <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
    </div></li>
    <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
    <li><a href="#!">Second Link</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
  </ul> -->


<!-- Side Nav  -->
  <div id="list-nav" class="side-nav">
    <div class="title-section">
      <div class="title"> Channel </br> Playlist </div>
      <img src="{{ playlist }}" id="pic" style="max-height: 204px; border-bottom: 5px solid cadetblue;"/>
      <div class="pic-container">

      </div>
    </div>
    <div class="playlist" ng-repeat="recording in $ctrl.channel.channelRecordings">
        <div class="song">
          <i class="material-icons md-24" title="Play song" ng-click="$ctrl.sendSong( recording.s3Location )">play_circle_filled</i> <div class="song-title"> Recorded {{ recording.dateCreated | date: "MM/dd/yyyy @ h:mma" }} </div>
          <i class="material-icons delete-24" title="Delete song from playlist" ng-click="$ctrl.deleteRecording( recording, $ctrl.channel._id, $ctrl.user._id )">highlight_off</i>
        </div>
    </div>
  </div>
<!--
  <a href="#" class="button-collapse" data-activates="list-nav" data-sidenav="right" data-menuwidth="298" data-closeonclick="false">
    <i class="material-icons">queue_music</i>
      Show side-nav
  </a>  -->

  <!-- microphone pop up -->
  <div id="myBotMic" class="myMic">
    <a href="javascript:void(0)" class="closebtn" ng-click="$ctrl.closeNav()">&times;</a>
    <div class="mic-top-container">
      <div class="rec-img shadowFilter" ng-click="$ctrl.startRecording()">

      </div>
    </div>
    <div class="mic-img-container" >
      <div class="mic-img">

      </div>
      <span><button type="button" id="record-button">Start</button></span>
    </div>
    <div class="stop-recording-container" ng-click="$ctrl.stopRecording()">
      <div class="stop-recording-img"></div>

    </div>

    <div class="speaker-container">
      <div class="speaker-img"></div>
    </div>
  </div>

<!-- Message input -->
  <div
      class="footer"
      ng-hide="$ctrl.isUserAdminInvite || $ctrl.isUserMemberInvite"
  >
      <div
          class="message-input-field"
      >
          <div id="mic-sec">
              <div id="mic-icon">
                  <i class="material-icons md-32" style="font-size: 30px; cursor:pointer" ng-click="$ctrl.openNav()">mic_none</i>
              </div>
          </div>
          <form id="message-form" ng-keypress="$ctrl.sendAndSaveMessage( $event, $ctrl.message )">
              <textarea id="message-input" ng-model="$ctrl.message.content" placeholder="Let's Talk Music!" spellcheck="true"></textarea>
          </form>
      </div>

  </div>

  <!-- Footer for invitation accept/decline -->
  <div
      class="footer"
      ng-show="$ctrl.isUserAdminInvite || $ctrl.isUserMemberInvite"
      style="text-align"
  >
      <div ng-show="$ctrl.isUserAdminInvite">
          <h5>Congrats! You've been invited to the channel as a collaborator.</h5>
          <a
              class="btn"
              href
              ng-click="$ctrl.addUserToChannel( $ctrl.channel._id, $ctrl.user._id, 'admin' );
                        $ctrl.removeUserFromChannel( $ctrl.channel._id, $ctrl.user._id, 'invitedAsAdmin' );
                        $ctrl.isUserAdmin = !$ctrl.isUserAdmin;
                        $ctrl.isUserAdminInvite = !$ctrl.isUserAdminInvite"
          >
              Join as collaborator
          </a>
          <a
              class="btn"
              href
              ng-click="$ctrl.removeUserFromChannel( $ctrl.channel._id, $ctrl.user._id, 'invitedAsAdmin' );
                        $ctrl.isUserAdminInvite = !$ctrl.isUserAdminInvite"
          >
              Decline invitation
          </a>
      </div>
      <div ng-show="$ctrl.isUserMemberInvite">
          <h5>Congrats! You've been invited to the channel as a listener.</h5>
          <a
              class="btn"
              href
              ng-click="$ctrl.addUserToChannel( $ctrl.channel._id, $ctrl.user._id, 'member' );
                        $ctrl.removeUserFromChannel( $ctrl.channel._id, $ctrl.user._id, 'invitedAsMember' );
                        $ctrl.isUserMember = !$ctrl.isUserMember;
                        $ctrl.isUserMemberInvite = !$ctrl.isUserMemberInvite"
          >
              Subscribe as listener
          </a>
          <a
              class="btn"
              href
              ng-click="$ctrl.removeUserFromChannel( $ctrl.channel._id, $ctrl.user._id, 'invitedAsMember' );
                        $ctrl.isUserMemberInvite = !$ctrl.isUserMemberInvite"
          >
              Decline invitation
          </a>
      </div>
  </div>

  </main>
</div>

<!-- Dropdown Structure -->
<div id='channelSideNav' class="side-nav">
    <ul class="collapsible" data-collapsible="accordion" watch>
        <li>
            <div class="collapsible-header">View channel details</div>
            <div class="collapsible-body" style="padding: 0.5em">
                <h5>Created by</h5>
                    <span>{{ $ctrl.channel.createdBy.fullName }}</span>
                <h5 ng-if="$ctrl.channel.admins.length">Collaborators</h5>
                    <div ng-repeat="admin in $ctrl.channel.admins">
                        <i
                            class="material-icons"
                            ng-if="$ctrl.isUserChannelCreator || $ctrl.isUserAdmin"
                            ng-click="$ctrl.removeUserFromChannel( $ctrl.channel._id, admin._id, 'admin' ); $ctrl.isUserAdmin = !$ctrl.isUserAdmin"
                        >
                            remove_circle
                        </i>
                        {{ admin.fullName }}
                    </div>
                <h5 ng-if="$ctrl.channel.members.length">Members</h5>
                    <div ng-repeat="member in $ctrl.channel.members">
                        <i
                            class="material-icons"
                            ng-if="$ctrl.isUserChannelCreator || $ctrl.isUserAdmin"
                            ng-click="$ctrl.removeUserFromChannel( $ctrl.channel._id, member._id, 'member' )"
                        >
                            remove_circle
                        </i>
                        {{ member.fullName }}
                    </div>
            </div>
        <li ng-show="$ctrl.isUserAdmin || $ctrl.isUserChannelCreator">
            <a
                href='#invite-admin-modal'
                modal
                ng-click="this.showInviteModalOverlay = !this.showInviteModalOverlay"
            >
                Invite collaborators
            </a>
        </li>
        <li ng-show="!$ctrl.isUserAnon">
            <a
                href='#invite-member-modal'
                modal
                ng-click="this.showInviteModalOverlay = !this.showInviteModalOverlay"
            >
                Invite listeners
            </a>
        </li>
        </li>
        <li class="divider"></li>
        <li
            ng-show="!$ctrl.isUserMember || $ctrl.isUserMemberInvite"
            ng-click="$ctrl.addUserToChannel( $ctrl.channel._id, $ctrl.user._id, 'member' ); $ctrl.isUserMember = !$ctrl.isUserMember"
        >
            <a href='javascript:void(0);'>
                Subscribe
            </a>
        </li>
        <li
            ng-show="$ctrl.isUserMember"
            ng-click="$ctrl.removeUserFromChannel( $ctrl.channel._id, $ctrl.user._id, 'member' ); $ctrl.isUserMember = !$ctrl.isUserMember"
        >
            <a href='javascript:void(0);'>
                Unsubscribe
            </a>
        </li>
        <li
            ng-click="$ctrl.addUserToChannel( $ctrl.channel._id, $ctrl.user._id, 'admin' ); $ctrl.isUserAdmin = !$ctrl.isUserAdmin"
            ng-show="( !$ctrl.isUserAdmin && $ctrl.isUserChannelCreator ) || $ctrl.isUserMemberInvite"
        >
            <a href='javascript:void(0);'>
                Join collaboration
            </a>
        </li>
        <li
            ng-click="$ctrl.removeUserFromChannel( $ctrl.channel._id, $ctrl.user._id, 'admin' ); $ctrl.isUserAdmin = !$ctrl.isUserAdmin"
            ng-show="$ctrl.isUserAdmin || ( $ctrl.isUserAdmin && $ctrl.isUserChannelCreator )"
        >
            <a href='javascript:void(0);'>
                Leave collaboration
            </a>
        </li>
        <li
            ng-click="$ctrl.deleteChannel()"
            ng-show="$ctrl.isUserChannelCreator"
        >
            <a href='javascript:void(0);'>
                Delete channel
            </a>
        </li>

    </ul>
</div>

<!-- Modal Structure -->
<div
    class="modal modal-fixed-footer"
    id="invite-admin-modal"
>
    <div class="modal-content" id="create-channel-modal-content">
        <h4>Invite collaborators</h4>
        <p>Connect with other musicians and make sweet music together.</p>
        <div class="row">
            <div
              angucomplete-alt
              class="col s6 m6 l6"
              clear-selected="true"
              id="collaborators"
              image-field="photo"
              input-class="form-control form-control-small"
              minimum-length="1"
              pause="400"
              placeholder="Send invites to collaborators: (optional)"
              remote-url="http://localhost:5000/api/users/find?searchStr="
              selected-object="$ctrl.inviteUserAsAdmin"
              title-field="fullName"
            >
            </div>
            <div class="col s6 m6 l6">
                <div class="chip" ng-repeat="user in $ctrl.invitedAsAdmin">
                    <img ng-if="user.image" ng-src="{{ user.image }}" alt="Contact Person">
                        {{ user.title }}
                    <i
                        class="close material-icons"
                        ng-click="$ctrl.removeFromInvites( user, 'admin' )"
                    >
                        close
                    </i>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <a
            class="modal-action modal-close waves-effect waves-green btn-flat"
            href=""
            ng-click="$ctrl.confirmInvites()"
        >
            Invite
        </a>
        <a
            class="modal-close waves-effect waves-green btn-flat"
            href=""
            ng-click="$ctrl.cancelInvites()"
        >
            Cancel
        </a>
    </div>
</div>

<!-- Modal Structure -->
<div
    class="modal modal-fixed-footer"
    id="invite-member-modal"
>
    <div class="modal-content" id="create-channel-modal-content">
        <h4>Invite listeners</h4>
        <p>Connect with your audience and get feedback on your latest masterpiece(s).</p>
        <div class="row">
            <div
              angucomplete-alt
              class="col s6 m6 l6"
              clear-selected="true"
              id="members"
              image-field="photo"
              input-class="form-control form-control-small"
              minimum-length="1"
              pause="400"
              placeholder="Send invites to listeners: (optional)"
              remote-url="http://localhost:5000/api/users/find?searchStr="
              selected-object="$ctrl.inviteUserAsMember"
              title-field="fullName"
            >
            </div>

            <div class="col s6 m6 l6">
                <div class="chip" ng-repeat="user in $ctrl.invitedAsMember">
                    <img ng-if="user.image" ng-src="{{ user.image }}" alt="Contact Person">
                    {{ user.title }}
                    <i
                        class="close material-icons"
                        ng-click="$ctrl.removeFromInvites( user, 'member' )"
                    >
                        close
                    </i>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <a
            class="modal-action modal-close waves-effect waves-green btn-flat"
            href=""
            ng-click="$ctrl.confirmAndSendInvites()"
        >
            Invite
        </a>
        <a
            class="modal-close waves-effect waves-green btn-flat"
            href=""
            ng-click="$ctrl.cancelInvites()"
        >
            Cancel
        </a>
    </div>
</div>

<!-- <div
    class="lean-overlay lean-overlay-fix"
    id="materialize-lean-overlay-1"
    ng-if="showInviteModalOverlay"
    style="z-index: 1002; display: block; opacity: 0.9; height: 100vh; background-color: black;"
>
</div> -->
