@import "variables";


.my-grid {
  max-height: calc(100vh - 143px);
  overflow: auto;
  #grid-header {
    color: white;
    padding-left: 20px;
    padding-top: 21px;
    margin: 0 5%;
    border-bottom: 0.5px solid #3c3939;
    font-size: 20px;
  }
  #cards-container {
    margin: 20px 5%;
  }

  #card-small{
    height: 240px;
    :hover{
      cursor: pointer;
    }
  }
  #card-image{
    max-height: 68%;
  }

  #row {
    margin-bottom: 0;
  }
}
