@import "lp-partials/base";
@import "lp-partials/normalize";
@import "lp-partials/mixins";
@import "lp-partials/variables";


* {
   margin-left: 0px;
   margin-top: 0px;
   box-sizing: border-box;
   font-family: "Raleway";

  .left-panel {
    float: left;
    width: 220px;
    // background-color: #24062f;
    background-color: #9B24CB;
    color: white;
    height: 100vh;
    position: relative;
    .lp-title-sect{
      position: absolute;
      // left: 19px;
      top: 19px;
      width: auto;
      #lp-title{
        font-size: 22px;
        color: white;
        // font-family: "Raleway";
        letter-spacing: 9px;
        padding-bottom: 3px;
        margin-left: 18px;
        text-align: center;
        &:hover {
            cursor: pointer;
        }
      }
      .lp-user{
        width: auto;
        margin: 1px 20px 23px;
        font-size: 16px;

        .status-circle{
          width: 10px;
          height: 10px;
          margin-right: 3px;
          display: inline-block;
          background-color: #ffc107;
          border-radius: 50%;

          img{
            height: 10px;
            width: 10px;
          }
        }
        #lp-user-name{
          display: inline-block;
          color: white;
          font-family: $main-font;
          &:hover {
              cursor: pointer;
          }
        }
      }
      .channels-heading-wrapper {
          display: flex;
          justify-content: space-between;
          margin-bottom: 0.3em;

          .channels-heading {
              font-family: "Raleway";
              margin-left: 18px;
              padding-top: 1px;
              letter-spacing: 2.5px;
              // color: #2a0738;
              color: silver;
          }

          .add-circle-outline-link {

              .add-circle-outline-button {
                  color: white;
              }
          }

      }

      .channel-links-wrapper {
          margin-top: 0.8em;
          color: silver;
          .channel-list-wrapper {
            margin-bottom: 1em;
            .channel-subheading-font {
                font-size: 13px;
                font-weight: 600;
                font-family: "Raleway";
                margin-left: 18px;
                letter-spacing: 1px;
                color: silver;
            }

            .channel-link {
                padding-left: 25px;
                border-radius: 2.8px;
                transition: all 0.3 ease-in-out;
                font-size: 18px;
                letter-spacing: 1px;
                font-family: "Raleway";
                cursor: pointer;
                // color: silver;
            }

            .hover-channel-link:hover {
                background-color: #2a0738;
                cursor: pointer;
            }

            // .channel-link-hover:hover {
            //     background-color: #2a0738;
            //     cursor: pointer;
            // }
          }
      }
    }
  }

  .highlight-selected-channel {
      background-color: #ffc107;
      color: white;
  }

  .isUpdated {
      font-weight: 400;
      color: white;
  }

  #create-channel-modal {
      width: 80vw;
      height: 100vh;

      &-content {
          height: 100vh;
          padding-bottom: 5em;
      }
  }

  .lean-overlay-fix {
      z-index: 1002;
      display: block;
      opacity: 0.9;
      height: 100vh;
      background-color: black;
      transition: 1s all ease-in-out;
  }
}
