@import "lp-partials/base";
@import "lp-partials/normalize";
@import "lp-partials/mixins";
@import "lp-partials/variables";


* {
   margin-left: 0px;
   margin-top: 0px;
   box-sizing: border-box;;

  .left-panel {
    float: left;
    width: 220px;
    background-color: black;
    height: 100vh;
    position: relative;
    border-right: 2px solid white;
    .lp-title-sect{
      position: absolute;
      left: 13px;
      top: 5px;
      width: auto;
      #lp-title{
        font-size: 28px;
        color: white;
        font-family: $logo-font;
        letter-spacing: 1px;
        text-decoration: line-through;
      }
      .lp-user{
        width: auto;
        .status-circle{
          width: 12px;
          height: 17px;
          display: inline-block;
          img{
            height: 10px;
            width: 10px;
          }
        }
        #lp-user-name{
          display: inline-block;
          color: white;
          font-family: $main-font;
        }
      }
    }
  }
}
