<section class="genre-grid-view">
  <div class="genre-container" >
    <header id="genre-header">
        {{ $ctrl.genre.displayName }}
    </header>
  </div>
  <div class="cards-container" id="genre-cards-container">
    <div class="row" id="row" ng-repeat="channelBlock in $ctrl.genre.channels | groupBy:4">
      <div class="col s2 m3" ng-repeat="channel in channelBlock">

        <div class="artist-card">
          <div class="top-container">
            <div class="top-img">
            </div>
          </div>
          <div class="bot-container">
           {{ channel.name }}
          </div>

          <div class="hidden-words">
            <div>
              {{ channel.description }}
              <span href ui-sref="channel-view( { _id: channel._id } )">
                <i class="material-icons mysymbol">
                  add_circle_outline
                </i>
              </span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
