<section class="genre-grid-view">
    <header id="genre-header">
        {{ $ctrl.genre.displayName }}
    </header>

    <div class="cards-container" id="genre-cards-container">
        <div class="row" id="row" ng-repeat="channelBlock in $ctrl.genre.channels | groupBy:4">
            <div class="col s2 m3" ng-repeat="channel in channelBlock">
                <div class="card small">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="http://wallpaper.zone/img/852297.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">{{ channel.name }}<i class="material-icons right">keyboard_arrow_up</i></span>
                        <p><a href="#">Join Channel</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{ channel.name }}<i class="material-icons right">close</i></span>
                        <p>{{ channel.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
