<section class="genre-grid-view">
    <header id="genre-header">
        {{ $ctrl.genre.displayName }}
    </header>

    <div class="cards-container" id="genre-cards-container">
        <div class="row" id="row">
            <div class="col s2 m3">
                <div class="card small">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="http://wallpaper.zone/img/852297.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Theo Collab<i class="material-icons right">keyboard_arrow_up</i></span>
                        <p><a href="#">Join Channel</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Theo Collab<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>
            <!-- <div class="col s2 m3">
                <div class="card small">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="http://wallpaper.zone/img/852297.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Theo Collab<i class="material-icons right">menu</i></span>
                        <p><a href="#">Join Channel</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Theo Collab<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>
            <div class="col s2 m3">
                <div class="card small">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="http://wallpaper.zone/img/852297.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Theo Collab<i class="material-icons right">more_vert</i></span>
                        <p><a href="#">Join Channel</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Theo Collab<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>
            <div class="col s2 m3">
                <div class="card small">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="http://wallpaper.zone/img/852297.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Theo Collab<i class="material-icons right">more_vert</i></span>
                        <p><a href="#">Join Channel</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Theo Collab<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>
