@import "variables";

.my-nav {
  background-color: $primary-color;
}
#nav-wrapper{
  height: 0;
}
#browse-header {
  font-size: 44px;
  padding-left: 5%;
}

#nav-row {
  margin: 0 5%;
  margin-bottom: 0;
}

#nav-col {
  border-bottom: 1px solid #383737;
}

#nav-tabs {
  background-color: rgba(255,255,255, 0);
}

.tabs .tab a {
  color: #828282;
  font-size: 16px;
}

.tabs .tab a:hover {
  color: white;
}

.tabs .tab a.active {
  color: white;
}

.tabs .indicator {
  background-color: #1db954;
  height: 4px;
}
