.row {
  background-color: #181818;
  max-width: 1030px;
  margin-bottom: 0;
}
  .row .col .s12{
  border-bottom: .5px solid grey;
}
  .tabs {
  background-color: #181818;
}
  .tabs .tab a {
  color: white;
}

  .tabs .tab a:hover{
  color: #10fbfb;
}
.tabs .indicator{
background-color: #10fbfb;
}
