<section class="my-grid">
    <header id="grid-header">
        Genres
    </header>
    <div class="cards-container" id="cards-container">
        <div
            class="row"
            id="row"
            ng-repeat="genres in $ctrl.genreNames | groupBy:4"
        >
            <div
                class="col s2 m3"
                ng-repeat="genre in genres"
                ui-sref="genre-view( { name: genre.name, displayName: genre.displayName } )"
            >
                <div class="card small" id="card-small">
                   <div class="card-image" id="card-image">
                       <img src="http://d2ai0ibaxpbki1.cloudfront.net/v2/images/collections/filmmaker-music-licensing-collection-atmospheric.jpg" alt="" />
                   </div>
                   <div class="card-content">
                       <p>{{ genre.displayName }}</p>
                   </div>
                </div>
            </div>
        </div>
    </div>
</section>
