<div id="genres" class="col s12 grid-bg">
    <section class="my-grid">
        <header id="grid-header">
            Genres
        </header>
        <div class="cards-container" id="cards-container">
            <div
                class="row"
                id="row"
                ng-repeat="genres in $ctrl.genreNames | groupBy:4"
            >
                <div
                    class="col s2 m3"
                    ng-repeat="genre in genres"
                    ui-sref="genre-view( { name: genre.name, displayName: genre.displayName } )"
                >
                    <div class="lols bkg" ng-style="{ 'background': 'url( {{ genre.img }} )', 'background-size': '{{ genre.size }}', 'background-color': '#2a0738', 'background-blend-mode': 'screen', 'background-position': '{{ genre.position }}' }">
                        <div id="hello">
                           <p>{{ genre.displayName }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
