
<div class="row">
   <div class="col s12">
     <ul class="tabs">
       <li class="tab col s3"><a class="active" href="#test1">GENRES</a></li>
       <li class="tab col s3"><a href="#test2">ARTISTS</a></li>
       <li class="tab col s3"><a href="#test3">POPULAR</a></li>
       <li class="tab col s3 disabled"><a href="test4"></a></li>
       <li class="tab col s3 disabled"><a href="test5"></a></li>
       <li class="tab col s3 disabled"><a href="test6"></a></li>
     </ul>
   </div>
   <div id="test1" class="col s12"></div>
   <div id="test2" class="col s12"></div>
   <div id="test3" class="col s12"></div>
</div>

<!--
  .row {
  background-color: #181818;
  max-width: 1030px;
  margin-bottom: 0;

}
  .row .col .s12{
  border-bottom: .5px solid grey;
}
  .tabs {
  #181818
}
  .tabs .tab a {
  color: white;
}

  .tabs .tab a:hover{
  color: #10fbfb;
}
.tabs .indicator{
background-color: #10fbfb;
}
-->
