$white: #ECEBE4;
$black: #33312E;
$main-font: 'PT Sans Narrow';
$grey: #BDBDBD;
$input-font: 'Slabo+27px';
$newBlack: #120309;
$logo-font: 'Roboto Slab';
$purple: #2a0738;
$blue: #039be5;

.channel-view{
  background-color: white;
  height: 100vh;
  width: 100%;
  float: left;
  .top-audio-player-container{
    width: 100%;
    height: 16%;
    display: inline-flex;
    .top-audio-player{
      width: 90%;
      margin-top: 20px;
      display: flex;
      align-items: center;
      height: 90%;
      #play-button{
        display: inline-block;
        margin-left: 25px;
        .material-icons.md-72{
          font-size: 72px;
          cursor: pointer;
          // color: $purple;
          color: #9B24CB;
        }
      }
      #pause-button{
        @extend #play-button;
        .material-icons.md-72{
        }
      }

      .waves{
        width: 1000px;
        display: inline-block;
        #waveform{
          height: 88px;
        }
      }
   }
   .recording-options{
     display: flex;
     flex-direction: column;
     margin-top: 16px;
     width: 40px;
     margin-left: 26px;
     height: 48px;
     justify-content: space-between;
     .add-to-playlist-icon{
       width: 100px;
       .btn-floating.btn-large{
         max-width: 1.4rem;
         max-height: 1.4rem;
         background-color: aliceblue;
         .material-icons.ld-18{
           font-size: .7rem;
           color: black;
           position: absolute;
           top: -17px;
           left: -18px;
         }
       }
     }
     .cancel-recording-icon{
       .btn-floating.btn-large{
         max-width: 1.4rem;
         max-height: 1.4rem;
         background-color: aliceblue;
         .material-icons.ld-18{
           font-size: .7rem;
           color: black;
           position: absolute;
           top: -17px;
           left: -18px;
         }
       }
     }
   }
  }

    .channel-nav{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $purple;
      opacity: .7;
      .channel-info{
        width: 67%;
        margin-left: 130px;
        .channel-name{
          margin: auto;
          text-align: center;
          text-align: center;
          font-size: 25px;
          width: 300px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          // font-family: $logo-font;
        }
        .channel-description{
          margin: auto;
          text-align: center;
          width: 300px;
        }
      }
      .channel-buttons{
        display: flex;
        justify-content: space-around;
        height: 100%;
        width: 139px;
        #side-nav-icon{
          .btn-floating.btn-large.playlist{
            background-color: #ffc107;
            max-width: 2rem;
            max-height: 2rem;
            .material-icons{
              font-size: 1.4rem;
              position: absolute;
              top: -11px;
              left: -13px;
            }
          }
        }
        .btn-floating.btn-large.settings{
          background-color: #ffc107;
          max-width: 2rem;
          max-height: 2rem;
          .material-icons{
            font-size: 1.4rem;
            position: absolute;
            top: -11px;
            left: -13px;
          }
        }
      }
    }

    #chat-window{
      width: 100%;
      padding-top: 20px;
      overflow: scroll;
      height: 69%;
      // width: 80vh;
      display:inline-block;

      // background-color: antiquewhite;
      .message{
      height: auto;
      padding-left: 32px;
      // position: relative;
        .row{
          .user-image-container{
            width: 45px;
            height: 45px;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: .3rem;
            // display: inline-block;
            // .user-image{
            //   border-radius: .3rem;
            //   width: auto;
            //   height: auto;
            //   width: 45px;
            //   height: 45px;
            //   margin-top: 3px;
            // }
          }
          .name-stamp{
            // display: inline-block;
            display: flex;
            align-items: center;
              .user-name{
                // position: absolute;
                // top: 0px;
                // left: 73px;
                display: inline-block;
                font-family: $main-font;
                font-size: 18px;
                font-weight: bold;
               }
               .time-stamp{
                 display: inline-block;
                 width: 125px;
                 margin-left: 15px;
                //  padding-top: 5px;
                //  position: absolute;
                //  top: 7px;
                //  left: 160px;
                 color: $grey;
                 font-size: 12px;
               }
               .tools{
                 width: 60px;
                 display: flex;
                 align-self: center;
                 float: right;
                 opacity: 0;
                 // visibility: hidden;
                 &:hover {
                     opacity: 1;
                 }
                 .material-icons.create{
                   font-size: 15px;
                   cursor: pointer
                 }
                 .material-icons.delete{
                   font-size: 15px;
                   cursor: pointer;
                 }
               }
             }
             .content{
                display: inline-block;
                width: 93%;

                .tools{
                  width: 60px;
                  display: inline-block;
                  float: right;
                  // visibility: hidden;
                  .btn-floating.btn-large.edit-message{
                    background-color: red;
                    max-width: 1.4rem;
                    max-height: 1.4rem;
                    .material-icons.create{
                      font-size: 15px;
                      color: white;
                      position: absolute;
                      top: -17px;
                      left:-17px;
                    }
                }
                  .btn-floating.btn-large.delete-message{
                    background-color: red ;
                    max-width: 1.4rem;
                    max-height: 1.4rem;
                    .material-icons.delete{
                      font-size: 15px;
                      color: white;
                      position: absolute;
                      top: -17px;
                      left: -17px;
                    }
                  }
                }
             }
            }
          }
        }

        // .playlist-sect{
        //   float: right;
        //   width: 16%;
        //   display: inline-block;
        //   height: 77%;
        //   padding-top: 10px;
        //   padding-bottom: 10px;
        //   .playlist{
        //     background-color: rgba(244, 96, 54, .7);
        //     width: 89%;
        //     margin: auto;
        //     height: 100%;
        //     border-radius: 22px;
        //     .playlist-title{
        //       font-size: 20px;
        //       color: $newBlack;
        //       margin: auto;
        //       width: auto;
        //       text-decoration: line-through;
        //       font-family: $input-font;
        //       text-align: center;
        //     }
        //     .song{
        //
        //     }
        //   }
        // }

        // div[style]{
        //   width: 298px !important;
         #list-nav {
          width: 400px;
          transform: translateX(0px);
          .title-section{
            position: relative;
            margin: auto;
            height: 200px;
            width:100%;
            .title{
              text-align: center;
              position: absolute;
              top: 51px;
              right: 64px;
              width: 154px;
              font-size: 28px;
              color: white;
              border: 4px solid white;
              background-color: rgba(0, 0, 0, 0.28);
              font-family: monospace;
              .pic-container{

              }
            }
        }
        .playlist{
            height: auto;
            .song{
              padding-left: 10px;
              padding-right: 10px;
              padding-top: 10px;
              padding-bottom: 10px;
              border-bottom: 1px solid;
              border-color: rgba(0,0,0,0.5);
              width: 100%;
              display: inline-flex;
              align-items: center;
              justify-content: space-between;
              .material-icons.md-24{
                margin-right: 8px;
                color: cadetblue;
                cursor: pointer;
              }
              .song-title{
                color: black;
              }
              .material-icons.delete-24{
                margin-left: 8px;
                color: #6B0F1A;
                cursor: pointer;
              }
            }
          }
        }



       .footer{
         height: 4%;
         width: 100%;
         position: fixed;
         padding-bottom: 1em;
         .message-input-field{
           height: 42px;
           width: 77%;
           position: absolute;
           left: 0.9rem;
           bottom: 1rem;
           top: .6rem;
           border: 2px solid $grey;
           border-radius: 6px;
           padding-bottom: 38px;
           display: flex;


           #mic-sec{
             width: 4%;
             height: 38px;
             border-right: 2px solid $grey;
             #mic-icon{
               .material-icons.md-32{
                 font-size: 32px;
                 margin-left: 3px;
                 margin-top: 4px;
                 color: $grey;
               }
             }
           }
           #message-form{
             height: 42px;
             position: relative;
             width: 100%;
             #message-input{
               height: 42px;
              //  font-family: $input-font;
                font-family: 'Raleway';
               overflow-y: hidden;
               resize: none;
               border: 2px solid $grey;
               border-left: none;
               border-right: none;
               border-radius: 0px 6px 6px 0px;
               position: absolute;
               bottom: 2px;
               outline: none;
               padding-top: .7rem;
               padding-bottom: .5625rem;
               padding-left: .5rem;
               padding-right: 2.5rem;
               line-height: 1.2rem;
             }
           }
          }
        }


        .editable-wrap{
            display:inline;
         .editable-controls{

           textarea {
            margin-bottom: 0;
            width: 80%;
            height: 90px;
            margin-left: 12px;
            resize: none;
            outline: none;
            }
          }
        }

        .editable-buttons{
          display: flex;
          margin-left: 67px;
        }


  .myMic {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    background-color: #111;
    opacity: .96;
    overflow: hidden;
    transition: .8s;
    padding-top: 0px;
    text-align:center;
  }
  .myMic a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  .myMic a:hover {
    color: #f1f1f1;
  }
  .myMic .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;

  }
  .mic-top-container {
    height: 30vh;
    width: 100%;
  }
  .mic-img-container {
    display: table;
    height: 70vh;
    left: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 100;
  }

  .animate-mic {
    animation: myMove 2s;
    animation-fill-mode: forwards;
  }

  .animate-mic-reverse {
    animation: myMoveReverse 0.8s;
    animation-fill-mode: forwards;
  }
  .rec-img {
    height: 80px;
    width: 80px;
    margin-top: 40px;
    margin-left: 50px;
    background: url("http://41.media.tumblr.com/02a16e8f7c738069fc224bdebb9224bd/tumblr_inline_nqb3u1h8Ke1s0cufr_250.png");
    background-size: contain;
    cursor: pointer;
  }
  .shadowFilter {
    -webkit-filter: drop-shadow(0px 0px 0px rgba(255,0,0,0.10));
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }
  .shadowFilter:hover {
    -webkit-filter: drop-shadow(0px 0px 8px rgba(255, 0, 0, 0.9));
  }
  .mic-img {
    height: 100%;
    width: 100%;
    background: url("http://www.penguinproducer.com/Blog/wp-content/uploads/2012/02/Microphone-e1329635815555.png") no-repeat;
    background-position: center;
    background-size: contain;
  }

  .stop-recording-container{
    height: 80px;
    width: 80px;
    position: absolute;
    bottom: 40px;
    left: 51px;
    cursor: pointer;
    z-index: 100;
    .stop-recording-img{
      height: 80px;
      width: 80px;
      background: url("https://static1.squarespace.com/static/56af6fa42b8ddebdc8740983/577bc79b725e258e705c2605/57913e8320099e4df6bd0a46/1469286851098/Stop-Button-EJfr6QcP-.png");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }



  @keyframes myMove {
    from {bottom: -800px;}
    to {bottom:0;}
  }

  @keyframes myMoveReverse {
    from { bottom: 0px; }
    to { bottom: -800px; }
  }
  // #record-button {
  //   position: absolute;
  //   bottom: 0;
  //   right: 0;
  //   margin-bottom: 40px;
  //   margin-right: 50px;
  //   width: 140px;
  //   height: 48px;
  //   border-radius: 12px;
  //   color: white;
  //   background-color: #a2001c;
  //   border: none;
  //   font-size: 20px;
  // }

}
