@import "variables";

.artists-row {
  border-bottom: 1px solid #2a0738;
}
#artists-header {
  color: #2a0738;
  margin-bottom: 0;
  margin-top: 20px;
}
#search-bar {
  background-color: transparent;
  box-shadow: none;
}
