@import "variables";

.artists-bg {
  background-color: whitesmoke;
}
.artists-row {
  border-bottom: 1px solid #2a0738;
}
#artists-header {
  color: #2a0738;
}
#search-bar {
  background-color: transparent;
}
