<div class="left-panel">
    <div class="lp-title-sect">
        <div
            id="lp-title"
            ui-sref="genres-view"
        >
            MUSIKBOX
        </div>

        <div class="lp-user">
            <div class="status-circle">
                <!-- <img class="circle-background" src="{{ $ctrl.circle }}"> -->
            </div>
            <div
                id="lp-user-name"
                ui-sref="account-settings-view( $ctrl.user )"
            >
                {{ $ctrl.user.fullName }}
            </div>
        </div>

        <div class="col channel-links-wrapper">
            <div class="channels-heading-wrapper">
                <span class="channels-heading">CHANNELS</span>
                <a
                  class="add-circle-outline-link"
                  href='#create-channel-modal'
                  modal
                  ng-click="this.showModalOverlay = !this.showModalOverlay"
                >
                    <i class="material-icons add-circle-outline-button">
                        add_circle_outline
                    </i>
                </a>
            </div>

            <div
                class="channel-list-wrapper"
                ng-if="$ctrl.user.createdChannels.length"
            >
                <span class="channel-subheading-font">CREATED</span>
                <ul>
                    <li
                        channel-link-dir
                        class="channel-link"
                        ng-class="{
                            'highlight-selected-channel': $ctrl.channelStatus.channel._id === createdChannel.channel._id
                            , 'hover-channel-link': $ctrl.channelStatus.channel._id !== createdChannel.channel._id
                        }"
                        ng-repeat="createdChannel in $ctrl.user.createdChannels"
                        ui-sref="channel-view( { _id: createdChannel.channel._id } )"
                    >
                        {{ createdChannel.channel.name }}
                    </li>
                </ul>
            </div>

            <div
                class="channel-list-wrapper"
                ng-if="$ctrl.user.adminInChannels.length"
            >
                <span class="channel-subheading-font">COLLABORATIONS</span>
                <ul>
                    <li
                        channel-link-dir
                        class="channel-link"
                        ng-class="{
                            isUpdated: channelAdmin.isUpdated
                            , 'highlight-selected-channel': $ctrl.channelStatus.channel._id === channelAdmin.channel._id
                            , 'hover-channel-link': $ctrl.channelStatus.channel._id !== channelAdmin.channel._id
                        }"
                        ng-click="$ctrl.setIsUpdatedProp( channelAdmin.channel, $ctrl.user, 'admin', false )"
                        ng-repeat="channelAdmin in $ctrl.user.adminInChannels"
                        ui-sref="channel-view( { _id: channelAdmin.channel._id } )"
                    >
                        {{ channelAdmin.channel.name }}
                    </li>
                </ul>
            </div>

            <div
                class="channel-list-wrapper"
                ng-if="$ctrl.user.memberInChannels.length"
            >
                <span class="channel-subheading-font">FOLLOWING</span>
                <ul>
                    <li
                        toggle-class-dir="highlight-selected-channel"
                        class="channel-link"
                        ng-class="{
                            isUpdated: channelMember.isUpdated
                            , 'highlight-selected-channel': $ctrl.channelStatus.channel._id === channelMember.channel._id
                            , 'hover-channel-link': $ctrl.channelStatus.channel._id !== channelMember.channel._id
                        }"
                        ng-click="$ctrl.setIsUpdatedProp( channelMember.channel, $ctrl.user, 'member', false )"
                        ng-repeat="channelMember in $ctrl.user.memberInChannels"
                        ui-sref="channel-view( { _id: channelMember.channel._id } )"
                    >
                        {{ channelMember.channel.name }}
                    </li>
                </ul>
            </div>

            <div
                class="channel-list-wrapper"
                ng-if="$ctrl.user.invitedAsAdmin.length || $ctrl.user.invitedAsMember.length"
            >
                <span class="channel-subheading-font">Invites</span>
                <ul>
                    <li
                        channel-link-dir
                        class="channel-link"
                        ng-class="{
                            isUpdated: adminInvite.isUpdated'
                            , highlight-selected-channel': $ctrl.channelStatus.channel._id === adminInvite.channel._id
                            , 'hover-channel-link': $ctrl.channelStatus.channel._id !== adminInvite.channel._id  }"
                        ng-click="$ctrl.setIsUpdatedProp( adminInvite.channel, $ctrl.user, 'invitedAsAdmin', false )"
                        ng-repeat="adminInvite in $ctrl.user.invitedAsAdmin"
                        ui-sref="channel-view( { _id: adminInvite.channel._id } )"
                    >
                        {{ adminInvite.channel.name }}
                    </li>
                    <li
                        class="channel-link"
                        channel-link-dir
                        ng-class="{
                            isUpdated: memberInvite.isUpdated
                            , 'highlight-selected-channel': $ctrl.channelStatus.channel._id === memberInvite.channel._id
                            , 'hover-channel-link': $ctrl.channelStatus.channel._id !== memberInvite.channel._id
                        }"
                        ng-click="$ctrl.setIsUpdatedProp( memberInvite.channel, $ctrl.user, 'invitedAsMember', false )"
                        ng-repeat="memberInvite in $ctrl.user.invitedAsMember"
                        ui-sref="channel-view( { _id: memberInvite.channel._id } )"
                    >
                        {{ memberInvite.channel.name }}
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <a style="position: absolute; bottom: 20px; left: 20px; color: white; letter-spacing: 1px"
       href=""
       ng-click="$ctrl.authService.logout()"
    >
        Log Out
    </a>
</div>

<!-- Modal Structure -->
<div
    class="modal modal-fixed-footer"
    id="create-channel-modal"
>
    <div class="modal-content" id="create-channel-modal-content">
        <h4>Create a channel</h4>
        <p>Channels are where you, your collaborators and listeners can connect.</p>
        <div class="row">
            <div input-field class="col s6 m6 l6">
                <input
                    ng-model="$ctrl.channel.name"
                    required
                    type="text"
                >
                <label>Name</label>
            </div>
            <div input-field class="col s6 m6 l6">
                <input
                    ng-model="$ctrl.channel.description"
                    required
                    type="text"
                >
                <label>Description</label>
            </div>
        </div>

        <div class="row">
            <div input-field class="col s6 m6 l6">
                <select
                    class=""
                    material-select
                    multiple
                    ng-model="$ctrl.channel.genres"
                    ng-options="genreName.displayName as genreName.displayName for genreName in $ctrl.genreNames"
                    required
                    type="text"
                    watch
                >
                </select>
                <label>Genres</label>
            </div>
            <div input-field class="col s6 m6 l6">
                <select
                    material-select
                    ng-model="$ctrl.channel.type"
                    required
                    type="text"
                >
                    <option value="public">Public</option>
                    <option value="private">Private</option>
                </select>
                <label>Type</label>
            </div>
        </div>
        <div class="row">
            <div
              angucomplete-alt
              class="col s6 m6 l6"
              clear-selected="true"
              id="collaborators"
              image-field="photo"
              input-class="form-control form-control-small"
              minimum-length="1"
              pause="400"
              placeholder="Send invites to collaborators: (optional)"
              remote-url="http://localhost:5000/api/users/find?searchStr="
              selected-object="$ctrl.inviteAsAdmin"
              title-field="fullName"
            >
            </div>
            <div
              angucomplete-alt
              class="col s6 m6 l6"
              clear-selected="true"
              id="collaborators"
              image-field="photo"
              input-class="form-control form-control-small"
              minimum-length="1"
              pause="400"
              placeholder="Send invites to listeners: (optional)"
              selected-object="$ctrl.inviteAsMember"
              remote-url="http://localhost:5000/api/users/find?searchStr="
              title-field="fullName"
            >
            </div>
        </div>
        <div class="row" style="z-index: -1">
            <div class="col s6 m6 l6">
                <div class="chip" ng-repeat="user in $ctrl.invitedAsAdmin">
                    <img ng-if="user.image" ng-src="{{ user.image }}" alt="Contact Person">
                    {{ user.title }}
                    <i
                        class="close material-icons"
                        ng-click="$ctrl.removeFromInvites( user, 'admin' )"
                    >
                        close
                    </i>
                </div>
            </div>
            <div class="col s6 m6 l6" style="z-index: -1">
                <div class="chip" ng-repeat="user in $ctrl.invitedAsMember">
                    <img ng-if="user.image" ng-src="{{ user.image }}" alt="Contact Person">
                    {{ user.title }}
                    <i
                        class="close material-icons"
                        ng-click="$ctrl.removeFromInvites( user, 'member' )"
                    >
                        close
                    </i>
                </div>
            </div>

        </div>
    </div>

    <div class="modal-footer">
        <a
            class="modal-action modal-close waves-effect waves-green btn-flat"
            href=""
            ng-click="this.showModalOverlay = !this.showModalOverlay; $ctrl.createChannel( $ctrl.channel )"
        >
            Create
        </a>
        <a
            class="modal-close waves-effect waves-green btn-flat"
            href=""
            ng-click="this.showModalOverlay = !this.showModalOverlay; $ctrl.clearInputs()"
        >
            Cancel
        </a>
    </div>

</div>

<div
    class="lean-overlay lean-overlay-fix"
    id="materialize-lean-overlay-1"
    ng-if="showModalOverlay"
    style="z-index: 1002; display: block; opacity: 0.9; height: 100vh; background-color: black;"
>
</div>
