<div class="left-panel">
    <div class="lp-title-sect">
        <div
            id="lp-title"
            ui-sref="genres-view"
        >
            muzikbox
        </div>

        <div class="lp-user">
            <div class="status-circle">
                <img src="{{ $ctrl.circle }}">
            </div>
            <div
                id="lp-user-name"
                ui-sref="account-settings-view( $ctrl.user )"
            >
                {{ $ctrl.user.fullName }}
            </div>
        </div>

        <div class="col">
            <span><b>Channels</b></span>
            <a href='#create-channel-modal'
              modal
              ng-click="this.showModalOverlay = !this.showModalOverlay"
            >
                <i class="material-icons">
                    add_circle_outline
                </i>
            </a>
        </div>

        <!-- <div ng-if="$ctrl.user.createdChannels.length">
            <span style="text-decoration: underline; font-style: italic">Created</span>
            <ul>
                <li
                    ng-repeat="channelCreator in $ctrl.user.createdChannels"
                    ui-sref="channel-view( { _id: channelCreator._id } )"
                >
                    {{ channelCreator.name }}
                </li>
            </ul>
        </div> -->

        <div ng-if="$ctrl.user.adminInChannels.length">
            <span style="text-decoration: underline; font-style: italic">Collaborations</span>
            <ul>
                <li
                    ng-repeat="channelAdmin in $ctrl.user.adminInChannels"
                    ui-sref="channel-view( { _id: channelAdmin._id } )"
                >
                    {{ channelAdmin.name }}
                </li>
            </ul>
        </div>

        <div ng-if="$ctrl.user.memberInChannels.length">
            <span style="text-decoration: underline; font-style: italic">Following</span>
            <ul>
                <li
                    ng-repeat="channelMember in $ctrl.user.memberInChannels"
                    ui-sref="channel-view( { _id: channelMember._id } )"
                >
                    {{ channelMember.name }}
                </li>
            </ul>
        </div>

        <div ng-if="$ctrl.user.invitedAsAdmin.length || $ctrl.user.invitedAsMember.length">
            <span style="text-decoration: underline; font-style: italic">Invites</span>
            <ul>
                <li
                    ng-repeat="adminInvite in $ctrl.user.invitedAsAdmin"
                    ui-sref="channel-view( { _id: adminInvite._id } )"
                >
                    {{ adminInvite.name }}
                </li>
                <li
                    ng-repeat="memberInvite in $ctrl.user.invitedAsMember"
                    ui-sref="channel-view( { _id: memberInvite._id } )"
                >
                    {{ memberInvite.name }}
                </li>
            </ul>
        </div>
    </div>

    <a style="position: absolute; bottom: 20px; left: 20px; color: white"
       href=""
       ng-click="$ctrl.authService.logout()"
    >
        Log Out
    </a>
</div>

<!-- Modal Structure -->
<div
    class="modal modal-fixed-footer"
    id="create-channel-modal"
>
    <div class="modal-content" id="create-channel-modal-content">
        <h4>Create a channel</h4>
        <p>Channels are where you, your collaborators and listeners can connect.</p>
        <div class="row">
            <div input-field class="col s6 m6 l6">
                <input
                    ng-model="$ctrl.channel.name"
                    required
                    type="text"
                >
                <label>Name</label>
            </div>
            <div input-field class="col s6 m6 l6">
                <input
                    ng-model="$ctrl.channel.description"
                    required
                    type="text"
                >
                <label>Description</label>
            </div>
        </div>

        <div class="row">
            <div input-field class="col s6 m6 l6">
                <select
                    class=""
                    material-select
                    multiple
                    ng-model="$ctrl.channel.genres"
                    ng-options="genreName.displayName as genreName.displayName for genreName in $ctrl.genreNames"
                    required
                    type="text"
                    watch
                >
                </select>
                <label>Genres</label>
            </div>
            <div input-field class="col s6 m6 l6">
                <select
                    material-select
                    ng-model="$ctrl.channel.type"
                    required
                    type="text"
                >
                    <option value="public">Public</option>
                    <option value="private">Private</option>
                </select>
                <label>Type</label>
            </div>
        </div>
        <div class="row">
            <div
              angucomplete-alt
              class="col s6 m6 l6"
              clear-selected="true"
              id="collaborators"
              image-field="photo"
              input-class="form-control form-control-small"
              minimum-length="1"
              pause="400"
              placeholder="Send invites to collaborators: (optional)"
              remote-url="http://localhost:5000/api/users/find?searchStr="
              selected-object="$ctrl.inviteAsAdmin"
              title-field="fullName"
            >
            </div>
            <div
              angucomplete-alt
              class="col s6 m6 l6"
              clear-selected="true"
              id="collaborators"
              image-field="photo"
              input-class="form-control form-control-small"
              minimum-length="1"
              pause="400"
              placeholder="Send invites to listeners: (optional)"
              selected-object="$ctrl.inviteAsMember"
              remote-url="http://localhost:5000/api/users/find?searchStr="
              title-field="fullName"
            >
            </div>
        </div>
        <div class="row" style="z-index: -1">
            <div class="col s6 m6 l6">
                <div class="chip" ng-repeat="user in $ctrl.invitedAsAdmin">
                    <img ng-if="user.image" ng-src="{{ user.image }}" alt="Contact Person">
                    {{ user.title }}
                    <i
                        class="close material-icons"
                        ng-click="$ctrl.removeFromInvites( user, 'admin' )"
                    >
                        close
                    </i>
                </div>
            </div>
            <div class="col s6 m6 l6" style="z-index: -1">
                <div class="chip" ng-repeat="user in $ctrl.invitedAsMember">
                    <img ng-if="user.image" ng-src="{{ user.image }}" alt="Contact Person">
                    {{ user.title }}
                    <i
                        class="close material-icons"
                        ng-click="$ctrl.removeFromInvites( user, 'member' )"
                    >
                        close
                    </i>
                </div>
            </div>

        </div>
    </div>

    <div class="modal-footer">
        <a
            class="modal-action modal-close waves-effect waves-green btn-flat"
            href=""
            ng-click="this.showModalOverlay = !this.showModalOverlay; $ctrl.createChannel( $ctrl.channel )"
        >
            Create
        </a>
        <a
            class="modal-close waves-effect waves-green btn-flat"
            href=""
            ng-click="this.showModalOverlay = !this.showModalOverlay; $ctrl.clearInputs()"
        >
            Cancel
        </a>
    </div>

</div>

<div
    class="lean-overlay lean-overlay-fix"
    id="materialize-lean-overlay-1"
    ng-if="showModalOverlay"
    style="z-index: 1002; display: block; opacity: 0.9; height: 100vh; background-color: black;"
>
</div>
