<div class="left-panel">
    <div class="lp-title-sect">
        <div
            id="lp-title"
            ui-sref="genres-view"
        >
            muzikbox
        </div>

        <div class="lp-user">
          <div class="status-circle">
            <img src="{{ $ctrl.circle }}">
          </div>
          <div
              id="lp-user-name"
              ui-sref="account-settings-view( $ctrl.user )"
          >
              {{ $ctrl.user.fullName }}
          </div>
        </div>
        <div class="col">
            <span>Channels</span>
            <a href='#create-channel-modal'
              modal
              ng-click="this.showModalOverlay = !this.showModalOverlay"
            >
                <i class="material-icons">
                    add_circle_outline
                </i>
            </a>
        </div>
        <div
            ng-repeat="channel in $ctrl.user.userChannels"
            ui-sref="channel-view( { _id: channel._id } )"
        >
            {{ channel.name }}
        </div>
    </div>

    <a style="position: absolute; bottom: 20px; left: 20px; color: white"
       href=""
       ng-click="$ctrl.authService.logout()"
    >
        Log Out
    </a>
</div>

<!-- Modal Structure -->
<div
    class="modal modal-fixed-footer"
    id="create-channel-modal"
>
    <div class="modal-content" id="create-channel-modal-content">
        <h4>Create a channel</h4>
        <p>Channels are where you, your collaborators and listeners can connect.</p>
        <div input-field>
            <input
                ng-model="$ctrl.channel.name"
                type="text"
            >
            <label>Name</label>
        </div>
        <div input-field>
            <input
                ng-model="$ctrl.channel.type"
                type="text"
            >
            <label>Type</label>
        </div>
        <div input-field>
            <input
                ng-model="$ctrl.channel.description"
                type="text"
            >
            <label>Description</label>
        </div>
        <div input-field>
            <input
                ng-model="$ctrl.channel.genres"
                type="text"
            >
            <label>Genres</label>
        </div>
        <div input-field>
            <input
                ng-model="$ctrl.channel.invitedAsAdmin"
                type="text"
            >
            <label>Send invites to collaborators: (optional)</label>
        </div>
        <div input-field>
            <input
                ng-model="$ctrl.channel.invitedAsMember"
                type="text"
            >
            <label>Send invites to listeners: (optional)</label>
        </div>
    </div>
    <div class="modal-footer">
        <a
            class="modal-action modal-close waves-effect waves-green btn-flat"
            href=""
            ng-click="this.showModalOverlay = !this.showModalOverlay; $ctrl.createChannel( $ctrl.channel )"
        >
            Create
        </a>
        <a
            class="modal-close waves-effect waves-green btn-flat"
            href=""
            ng-click="this.showModalOverlay = !this.showModalOverlay"
        >
            Cancel
        </a>
    </div>

</div>

<div class="lean-overlay lean-overlay-fix" id="materialize-lean-overlay-1" ng-if="showModalOverlay" style="z-index: 1002; display: block; opacity: 0.9; height: 100vh; background-color: black;"></div>
