<div class="message">
  <div class="row">
    <div class="user-image-container col s1">
      <img class="user-image" src="{{ user }}"/>
    </div>
    <div class="name-stamp col s9">
      <div class="user-name">
         Theo Beck
      </div>
      <div class="time-stamp">
        11/3/16 • 11:34 AM
      </div>
    </div>
    <div class="content col s11">
      <div> I know someone I'd like to put you in contact with.I know someone I'd like to put you in contact with.I know someone I'd like to put you in contact with.I know someone I'd like to put you in contact with.I know someone I'd like to put you in contact with.I know someone I'd like to put you in contact with.I know someone I'd like to put you in contact with.I know someone I'd like to put you in contact with.I know someone I'd like to put you in contact with.I know someone I'd like to put you in contact with.I know someone I'd like to put you in contact with.I know someone I'd like to put you in contact with.I know someone I'd like to put you in contact with.I know someone I'd like to put you in contact with. </div>
    </div>
  </div>
</div>
